<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.lf.lroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".application.LroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".v.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".v.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityTheme"/>
        <activity android:name=".v.activity.TestActivity" />

        <activity android:name=".v.activity.FragmentContainerActivity" android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".v.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/launcherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".v.activity.FoodContentActivity" />

        <provider
            android:name=".m.database.DataProvider"
            android:authorities="com.android.lf.lroid" />
    </application>

</manifest>